.upperHeader-container {
    background-color: #ffffff;
    height: 66px;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;

    padding: 8px 20px;
    box-shadow: 0 7px 8px 0 rgb(0 0 0 / 4%);
}

.search-wrapper {
    display: flex;
        width: 100%;
}

.logo-container {
display: flex;
    align-items: center;
}

.logo {
    text-align: center;
}

.search-container {
    /* width: 100%; */
    text-align: center;
    padding: 8px 15px;
    position: fixed;
    top: 5px;
    right: 140px;
}

.login-container {
    text-align: center;
    display: flex;
    align-items: center;
    width: auto;

}



.searchBox {
    width: 550px;
    /* height: 100%; */
    color: #474747;
    font-weight: 300;
    font-size: .857rem;
    line-height: 1.833;
    border-radius: 8px;
    background-color: #f0f0f1;
    border: none;
    padding: 14px 45px 14px 10px;
    text-align: right;
    outline: none;
  height: 44px;
}


.searchBox:focus {
    /* box-shadow: 0px 0px 7px rgb(187, 187, 187); */
    background-color: #ffffff;
}

input[type="search"]::-webkit-search-cancel-button {

    /* Remove default */
    -webkit-appearance: none;

    /* Now your own custom styles */
    height: 25px;
    width: 25px;
    border-radius: 25px;
    color: #474747;
    background: #fff;
}

.vertical {
    border-left: 1.5px solid #e0e0e2;
    height: 30px;
    align-items: center;
    text-align: center;

}


.loginSection {
    padding: 0 15px;
    border-radius: 8px;
    border: 1px solid #e0e0e2;
    display: flex;
    flex-wrap: nowrap;
    cursor: pointer;
    margin: 0px 12.5px;

}

.loginBtn {
    display: flex;
    line-height: 1.833;

    padding: 0px 25px;
    align-items: center;
    flex-wrap: nowrap;
    cursor: pointer;
    color: #616161;
    text-decoration: none;
}

.userPic {
    align-items: center;
    width: 20px;
    height: 20px;
    margin: 10px 0px 0px 10px;
}


.usertext {
    padding: 13px 0px;
    font-size: 12px;
    text-decoration: none;
    color: #616161;
}

.loginPart {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.profile-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 5px 8px;
    cursor: pointer;
}

.arrow-head-dropdown {
    font-size: 18px;
    transform: scale(.5, .5);
    color: #424750;
}

.actived-profile-btn {
    background-color: rgba(239, 57, 78, .05);
}

.profile-wrapper {
    padding: 0 8px;
}

.dropdown-profile-user {
    padding: 8px 0 12px;
    cursor: pointer;
}

.dropdown-profile-info-wrapper {
    display: flex;
    padding: 0 12px;
}

.dropdown-profile-linkto-text {
    color: #19bfd3;
    font-size: .714rem;
    line-height: 2.2;
}

.dropdown-profile-username-text {
    font-weight: 400;
    font-size: 1em;
}

.toggle-profile-wrapper {
    text-align: start;
    color: #424750;
    border:none;
    border-collapse: collapse;
}
.row-line:hover{
    transition: all .2s linear;
    background-color: #f0f0f1;
}
.toggle-profile-wrapper .row-line {
    
    border-top: .1px solid #f0f0f1;
    /* border-bottom: .5px solid #afafaf; */
}

.toggle-profile-wrapper .row-line:first-child {
    border-top: none;
}

/* .toggle-profile-wrapper .row-line::last-child {
    border-bottom: none;
} */
.dropdown-profile-titles {
    margin-right: 8px;
}

.dropdown-items-style {
    padding: 10px 20px;
    font-size: .857rem;
    line-height: 1.833;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.dropdown-profile-pic {
    border: 1px solid #424750;
    border-radius: 50%;
}

.shoppingCart {
    padding: 0px 15px;
    position: relative;
}
.badge{
    font-size: .6rem;
    position:absolute;
    top: 0px;
    right: 6px;
    width: 15px;
    height: 15px;
    color: #fff;
    background-color: #EE384E;
    border-radius: 50%;
}
.f-24p{
        font-size: 24px;
}
.search{
        border-top: 1px solid #19bfd3;
}
.active-searchbar{
        display: flex;
        flex-direction: column;
        min-height: 450px;
        background: #fff;
        box-shadow: 0px 0px 7px rgb(187, 187, 187); 
        border-radius: 8px;
}
.ml-24{
        margin-left: 24px;
}
.py-16{
        padding-top: 16px;
        padding-bottom: 16px;
}
.pr-32{
        padding-right: 32px;
}
.px-16{
        padding-left: 16px;
        padding-right: 16px;
}
.py-8{
        padding-top: 8px;
        padding-bottom: 8px;
}
.ml-12{
    margin-left: 12px;
}
.p-suggest{
        padding: 6px 12px 6px 4px ;
        border: 1px solid #e0e0e2;
        border-radius: 20px;
}
.search-image{
        width: 540px;
        border-radius: 8px;
}

.my-16{
        margin-top: 16px;
        margin-bottom: 16px;
}
.activeSearchInput{
        background-color: #fff;
}