.downerHeader-container{
    height: auto;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    margin: 0;
    padding: 0px 20px;
    background-color: #fff;
    box-shadow: 0 7px 8px 0 rgb(0 0 0 / 2%);
    
 }
.maincontainer{
    height: 47px;
    margin: 0px;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    padding: 0;
    
}
.menu-container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 0;
    
}
.category-container{
    display: inline;
}

.menu-text{
    color: #616161;
    font-size: 12px;
    font-weight: 300;
    padding: 10px 2px 0px 0px;
    
}


.menuIcon-container

.nav-underline-amination:hover {
    --d: 5%;
}
.innerMenu{
    display: flex;
    padding: 0px 12px;
    background: linear-gradient(#EE384E 0 0) bottom /var(--d, 0) 2px no-repeat;
    transition:0.5s;
}
.innerMenu:hover{
    --d: 80%;
}
.verticalDown{
    border-left: 1.5px solid #e0e0e2 ;
    height: 20px;
    align-items: center;
    text-align: center;
    margin: 10px 12px 0px 0px;
}

.gps-click{
    display: flex;
    flex-direction: row;
}

.gpsText{
    color: #616161;
    font-size: 15px;
    font-weight: 300;
}

.gpsMenu{
    display: flex;
    flex-direction: row;
}

.menuIcon-container{
    padding: 10px 0px 10px 5px;
}

.gps-icon{
    padding: 10px 10px 0px 0px;
}

.downerEmptyArea{
    width: 230px;
}