.adPlaceWrapper{
    width: 98%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.innerAddPlace-Wrapper{
    padding: 0 8px;
}

.firstAddPlace-images{
    width: 98%;
    height: auto ;
    box-shadow: 0 2px 4px 0px rgb(0 0 0 / 10%);
    cursor: pointer;
    border-radius: 16px;
}