.g-singleCart{
    display: flex;
    flex-direction: column;
    width: auto;
    height: 421.44px
    
}
.singleSliderHeader{
    
    height: 57px;
    line-height: 56px;
    font-weight: 500;
    color: #6e6e6e;
    margin: 0 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sliderWrapper{
    max-width: 301px;
    height: 100%;
    margin: 0 15px;
}

.singleCartHeader-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.customSingleHeader{
    padding: 15px 0;
    font-size: 15px;
    color: #515151 ;
    height: auto;
    overflow: hidden;
}

.SingleNormalLine{
    height: 1px;
    background-color: #F1F1F1;
    width: 95%;
}

.g-singleCart .rec.rec-dot{
    display: none;
}
.singleSlider-wrapper{
    width: 100%;
    height: 100%;
}
.imageLinkWrapper{
    align-self: center;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    
}


.customDisc{
    width: 100%;
    text-overflow: ellipsis;
}

.singleSlider-innerWrapper{
    width: 301.67px;
    height: 100%;
}